@model IEnumerable<Employee>;
@{
    ViewBag.Title = "All employees";
  

}
<div class="card-deck" >
    @foreach (var emp in Model)
    {
        var photoPath = "~/images/" + ( emp.PhotoPath ?? "superMan.jpg");
     
        <div class="card m-3" style="width:33%">
            <div class="card-header">
                <h3>@emp.Name</h3>
            </div>
            <div class="card-body text-center ">
                <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true"/>
            </div>
            <div class="card-footer text-center">

                @*Different ways to create action link
                            1. URL actions
                            2. Html Action Link
                            3.Tag Helpers

                        @Html.ActionLink("View", "Details", "Home", new { id = emp.Id })
                        <a href="@Url.Action("Details","Home", new {id = emp.Id })" class="btn btn-primary">View</a>

                *@

                <a asp-controller="Home" asp-action="Details" asp-route-id="@emp.Id" class="btn btn-primary m-1">View</a>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@emp.Id" class="btn btn-success m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script src="~/scripts/customeScripts.js"></script>
}